
@import './sccs-sitios/variables';
@import './sccs-sitios/galeria';
@import './sccs-sitios/about-us';
@import './sccs-sitios/contacto';
@import './sccs-sitios/proximos-eventos';

/* FONDO   */
* {
    margin: 0;
    padding: 0;
}

.cuerpo-home {
    background-color: rgb(247, 247, 223);
    
}
.navegador {
    background: rgb(224, 190, 217);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
.navbar-nav a:hover{
          background-color: rgb(204, 155, 195) ; 
              
}

.navbar-nav {

    width: 100%;
}
/*BACKGROUND*/
.vestido-color2 {
    background-image: url(../Imagenes/vestido-color2.jpg);
    height: 100vh
}
.vestido-eco2 {
    background-image: url(../Imagenes/vestido-eco2.jpg);
    height: 100vh
}
/*FRASE*/
h2{
    padding: 10%;
    font-family: $fuentes;
}

h3 {
    padding-top: 30%;
    font-family: $fuentes;
}

.frase-mobile{
    visibility: hidden;

}


.wear {

    animation: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;   
}
.your {

    animation: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in; 
   
}
.dream {

    animation: fadeIn;
    animation-duration: 6s;
    animation-timing-function: ease-in; 
}
.spring {

    animation: fadeIn;
    animation-duration: 8s;
    animation-timing-function: ease-in; 
}


@media screen and (max-width: 575px) {
    .frase-mobile {
        visibility: visible;
    }
    .frase-desktop {
        display: none;
        height: 0px;
    }
    .vestido-color2 {
        display: none;
        height: 0px;
        
    }
    .frase-desktop-block{
        height: 0px;
        
    }
    .formulario{
        padding-left: 7%;
        padding-right: 7%;
        
    }
}