/* FONDO   */
* {
    margin: 0;
    padding: 0;
}

.cuerpo-home {
    background-color: rgb(247, 247, 223);
    
}
.navegador {
    background: rgb(224, 190, 217);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
.navbar-nav a:hover{
          background-color: rgb(204, 155, 195) ; 
              
}

.navbar-nav {

    width: 100%;
}
/*BACKGROUND*/
.vestido-color2 {
    background-image: url(./Imagenes/vestido-color2.jpg);
    height: 100vh
}
.vestido-eco2 {
    background-image: url(./Imagenes/vestido-eco2.jpg);
    height: 100vh
}
/*FRASE*/
h2{
    padding: 10%;
    font-family: 'Belleza', sans-serif;
}

h3 {
    padding-top: 30%;
    font-family: 'Belleza', sans-serif;
}

.frase-mobile{
    visibility: hidden;

}

.nombre-evento  {
    font-family: 'Belleza', sans-serif;

}
.fecha  {
    font-family: 'Belleza', sans-serif;

}
.evento-principal  {
    font-family: 'Belleza', sans-serif;

}

.foto-disenador {
    height: 100%;
    
}
.img-thumbnail {
    transition: transform .2s;
}
    
.img-thumbnail:hover{
    transform: scale(1.5);

}

  
@media screen and (max-width: 575px) {
    .frase-mobile {
        visibility: visible;
    }
    .frase-desktop {
        visibility: hidden;
        height: 0px;
    }
    .vestido-color2 {
        visibility: hidden;
        height: 0px;
        
    }
    .frase-desktop-block{
        height: 0px;
        
    }
    .formulario{
        padding-left: 7%;
        padding-right: 7%;
        
    }
}
    


